body
{
    color: darkblue;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
}

#cabecera
{
    font-weight: bold;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin: 0;
    background-color: khaki;
}

#container
{
    width: 70%;
    padding: 0px;
    text-align: left;
    border: 1px solid khaki;
    margin: 0 auto;
}

.caja
{
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.69);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.69);
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.69);
    position: relative;
    animation-name: slide;
    animation-duration: 3s;
}

#container h1
{
    font-size: 20px;
}

#post
{
    padding: 0px;
}

#footer
{
    background-color: #DFF6FF;
    color: #256D85;
    text-align: center;
}

@keyframes slide
{
    0%
    {
        left: 100%;
    }
    100%
    {
        left: 0%;
    }
}